<html xmlns="http://www.w3.org/1999/xhtml">
    <body>
        <p>Hey there,</p>
        <p>Your new password is {{newPassword}}.</p>
        <br/>
        <p>All the best,</p>
        <p>The Telegram App Team</p>
    </body>
</html>
                    